[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "plugins/dotbot-gh-extension"]
	path = plugins/dotbot-gh-extension
	url = https://github.com/fundor333/dotbot-gh-extension.git
[submodule "plugins/dotbot-brew"]
	path = plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "plugins/dotbot-ifplatform"]
	path = plugins/dotbot-ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git
[submodule "plugins/dotbot-ifarch"]
	path = plugins/dotbot-ifarch
	url = https://github.com/ryansch/dotbot-ifarch.git
